@import '../assets/variables.css';
#root {
  text-align: center;
  background-color: var(--background);
}
.app{
  display:flex;
  flex-direction: column;
  /* height:100vh; */
}
.app-contents{
  display: flex;
  margin-top: 64px;
  height:100%;
}
h1{
  color:black;
}